# Core dependencies
fastapi>=0.109.1
uvicorn>=0.27.0
python-multipart>=0.0.6
soundfile>=0.12.1
markupsafe>=2.0.1

# Kokoro TTS dependencies
kokoro-onnx>=0.4.6
numpy
librosa>=0.10.1
sounddevice>=0.5.1
scipy
numba
simplejson>=3.19.3
transformers>=4.37.2
pydantic>=2.5.2

# Optional dependencies
requests>=2.32.3
urllib3>=2.3.0
colorama>=0.4.6